<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Campaigns - NGO Website Template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul>
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li class="current">
					<a href="blogs">Self Help</a>
				</li>
				<li>
					<a href="analysis">Analysis</a>

				</li>
				
			</ul>
		</div>
	</div>
<div id="body">
		<div id="campaigns">
			<div class="header">
				<div>
					<h2>Dealing with Depression: The Best Blogs</h2>
					<p>
						Both writing and reading blogs can be a source of motivation and inspiration for people living with depression. With physical borders removed, the online community from around the globe support one another in the fight against mental illness. Blogs also offer an opportunity for people who don’t suffer from depression to get a deep insight into the condition, and achieve a greater level of understanding. Writing provides relief to many people, and doing so online allows thousands of readers to find inspiration in their words. While there are many excellent blogs to be read, we’ve picked 15 that we believe are truly outstanding in expressing what life with depression is like, and how it can be tackled.
					</p>
				</div>
				<img src="images/volunteer.jpg" alt="Image" style="width:450px;height:300px;">
			</div>
			<div class="body">
				<div>
					<h2>A Splintered Mind</h2>
					<ul>
						<p>Douglas Cootey hasn’t had much time to blog recently, which he puts down to a chaotic personal life. Nonetheless, what he has already written this year makes A Splintered Mind worthy of a place on this list, documenting his life with Tourette’s, ADHD, and depression with exceptional eloquence, and more than a drop of good humour. His writing is insightful, touching, and entertaining. Should he find the time and inclination to reignite his blog.<a href="blogs">douglascootey.com</a></p>
					</ul>
				</div>
				<div>
					<h2>Blue Light Blue</h2>
					<p>
						Amy Marlow lost her father to suicide when she was just 13, and has battled with depression since. She has written about her struggle to come to terms with it throughout her 20s, and in 2015 Amy began Blue Light Blue. The blog documents her acceptance of mental illness, and the need to speak up about it. Her posts, often poetic in style, are profound, personal, and emotional.<a href="blogs">bluelightblue.com</a>
					</p>
				</div>
				<div>
					<h2>Blurt</h2>
					<p>
						The team at Blurt tackle some of the difficult subjects related to mental illness head-on, with an emphasis on describing what living with depression is really like. It is a particularly good resource for those who have a loved one living with depression, as much of the insight is aimed at generating a greater understanding of the illness among the masses.<a href="blogs">blurtitout.org/blog</a>
					</p>
				</div>
			</div>
			<div class="footer">
				<p>
					Sometimes all I need to feel right is a moment’s peace with a beautiful sunset. Anxieties fade, and my spirit is lifted. That ephemeral moment of beauty has so much power for me. I wonder at the richly saturated colors spreading across the sky.
				</p>
				<a href="blogs">Write your own block</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<form action="blogs">
				<h2>Send A Message</h2>
				<label for="name"><span>Your Name:</span>
					<input type="text" id="name">
				</label>
				<label for="emailad"><span>Email Address:</span>
					<input type="text" id="emailad">
				</label>
				<label for="message"><span class="message">Message:</span>
					<textarea name="message" id="message" cols="30" rows="10"></textarea>
				</label>
				<input type="submit" class="send" value="Send">
			</form>
			<div>
				<h2>Contact Details</h2>
				<ul>
					<li>
						<b>Location</b>
						<span>:</span>
						<p>
							kanpur 
						</p>
					</li>
					<li>
						<b>Phone</b>
						<span>:</span>
						<p>
							(+91)9572380592
						</p>
					</li>
					<li>
						<b>Email</b>
						<span>:</span>
						<p>
							<a href="rishabhnigam1@gmail.com" class="email" target="_blank">rishabhnigam1@gmail.com</a>
						</p>
					</li>
					<li>
						<b>Social</b>
						<span>:</span>
						<div>
							<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook" target="_blank">facebook</a>
							<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter" target="_blank">twitter</a>
							<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus" target="_blank">google&#43;</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<p>
			&copy; Copyright 2032. All rights reserved.
		</p>
	</div>
</body>
</html>