<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html> 
<head>
	<meta charset="UTF-8">
	<title>Get Involved - NGO Website Template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index" id="logo"><img src="images/logo.png" alt="logo"></a>
			<ul>
				<li>
					<a href="index">Home</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="blogs">Blogs</a>
				</li>
				<li>
					<a href="getinvolved">Get Involved</a>
				</li>
				<li class="current">
					<a href="stats">Results</a>
				</li>

				
			</ul>
		</div>
	</div>
	<div id="body">
		
     
     <div id="deductImage">
     	<h2>Below is the result of analysis</h2>
     	<img src="images/plotted_graph.png" >
     </div>

			
</body>
</html>